html,
body {
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: rgba(180, 33, 33, 0.3);
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    padding: 20px;
}

#services-list {
    flex: 2;
    padding-right: 10px; /* Add padding between columns */
}

#selected-services {
    flex: 1;
    padding-left: 10px; /* Add padding between columns */
}

.column {
    flex: 1;
    overflow-y: auto; /* Add scrollbar for vertical overflow */
    max-height: 700px; /* Set maximum height for the column */
}

.service {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.selected-service {
    margin-bottom: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#totals {
    margin-top: 20px;
}

#sorting-options {
    padding: 20px;
}

#sorting-options button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

#sorting-options button:hover {
    background-color: #45a049;
}