html,
body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

h1 {
    font-weight: bold;
    color: #361717;
}

.top-header {
    background-color: #aa8484;
    padding: 10px;
    text-align: center;
    display: flex;
}

.header-content {
    flex:3;
    padding-right: 20px;
}

.mom-picture {
    flex:1;
    overflow: hidden;
}

.mom-picture img {
    max-height: 200px;
}

#introduction {
    text-align: left;
    font-style: italic;
    color:#e3dad8;
}

.options-container {
    padding: 20px;
    margin-left: 10px;
}

.options-container button {
    background-color: #8f5f5f;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 13px;
}

#search-input {
    padding-left: 20px;
    height: 26px;
    border: 3px solid #8f5f5f;
    border-radius: 5px;
    background-color: #e9dede;
}

.main-container {
    display: flex;
    padding: 0px;
    margin-left: 30px;
}

.services-column {
    flex: 2;
    max-height: 630px;
    overflow-y: auto;
}

.service { 
    border: 2px solid #8f5f5f;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e9dede;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.service-info {
    width: calc(70% - 10px);
    padding-right: 10px;
}

.service-image {
    width: calc(30% - 10px);
    padding: 10px;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}

.service img {
    max-height: 200px;
    width: auto;
}

.services-column button {
    background-color: #8f5f5f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}

.selected-services-column {
    flex: 1;
    padding-left: 15px; 
}



